header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img {
  width: 30%; /* Ajustez la largeur en pourcentage pour une adaptation dynamique */
  height: auto; /* Permet à la hauteur de s'ajuster proportionnellement à la largeur */
  max-width: 10vh; /* Définissez une largeur maximale en pixels */
  max-height: 10vh; /* Définissez une hauteur maximale en pixels */
  margin: 0 auto; /* Centrer horizontalement */
}
