<body>
  <div class="slider">
    <div class="item" *ngFor="let project of projects; let i = index" [ngClass]="{ active: i === active }" (click)="navigateToProjectDetails(project.id)">
      <h1 class="dashboard-card project-name">{{ projects[active].name }}</h1>
      <p>{{ projects[active].description }}</p>
      <div class="status-indicator" [ngClass]="status === 'green' ? 'green' : 'red'"></div> <!-- Ajoutez cette ligne -->
    </div>
    <button id="next" (click)="nextClick()">></button>
    <button id="prev" (click)="prevClick()"><</button>
  </div>
</body>
