<body>
  <div class="slider">
    <div class="item" *ngFor="let project of projects; let i = index" [ngClass]="{ active: i === active }" (click)="navigateToProjectDetails(project.id)">
      <h1 class="dashboard-card project-name">{{ project.name }}</h1>
      <p>{{ project.description }}</p>
      <div class="status-indicator" [ngClass]="{ 'green': project.projectStatus === 1, 'red': project.projectStatus !== 1 }"></div>
      <a [routerLink]="['/project', project.id]"></a>
    </div>
    <button id="next" (click)="nextClick()">></button>
    <button id="prev" (click)="prevClick()"><</button>
  </div>
</body>
