* {
  margin: 0;
}

body {
  background-image: linear-gradient(to top right, #8B5CF6, #EC4899);
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}

.slider {
  position: relative;
  width: 100%;
  height: 370px;
  overflow: hidden;
}

.items-container {
  position: relative;
  height: 100%;
}

.item {
  position: absolute;
  width: 80%;
  height: 20%; /* Modifier la valeur selon vos besoins */
  text-align: center;
  background-image: linear-gradient(225deg, #27d86c 0%, #26caf8 50%, #c625d0 100%);
  border-radius: 10px;
  padding: 20px;
  transition: 0.5s;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: calc(50% - 100px); /* Modifier la valeur selon vos besoins */
}


.item h1 {
  font-family: monospace;
  color: #fff;
  font-size: 24px;
  margin-bottom: 10px;
}

.item p {
  color: #666;
  font-size: 16px;
  text-align: justify;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: fit-content;
}

#next,
#prev {
  position: absolute;
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: xxx-large;
  font-family: monospace;
  font-weight: bold;
  left: 50%;
  transform: translateX(-50%);
}

#next {
  bottom: 10px;
}

#prev {
  top: 10px;
}

.status-indicator {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 5px red, 0 0 20px red, 0 0 30px red, 0 0 40px red;
  filter: blur(0.1px);
}

.status-indicator.green {
  background-color: green;
}

.status-indicator.red {
  background-color: red;
}
