<body>
  <button id="prev" (click)="prevClick()">^</button>
  <div class="slider">
    <div class="items-container">
      <div class="item" *ngFor="let student of students; let i = index" [ngClass]="{ active: i === active }" (click)="createUniqueLink(student.id)">
        <h1 class="dashboard-card student-name">{{ student.prenom }}</h1>
        <!-- Autres informations de l'élève -->
        <div class="status-indicator" [ngClass]="status === 'green' ? 'green' : 'red'"></div>
      </div>
    </div>
  </div>
  <button id="next" (click)="nextClick()">v</button>
</body>
