<body>
  <button id="prev" (click)="prevClick()">^</button>
  <div class="slider">
    <div class="items-container">
      <div class="item" *ngFor="let student of students; let i = index" [ngClass]="{ active: i === active }">
        <div class="confirmation-button" *ngIf="activeStudentId">
          <button (click)="createUniqueLink(activeStudentId)">Confirmation</button>
        </div>
        <h1 class="dashboard-card student-name">{{ student.prenom }}</h1>
        <!-- Autres informations de l'élève -->

        <!-- Mise à jour de la classe CSS en fonction de studentStatus -->
        <div class="status-indicator" [ngClass]="{ red: student.studentStatus === 0, green: student.studentStatus === 1 }"></div>
      </div>
    </div>
  </div>
  <button id="next" (click)="nextClick()">v</button>
</body>
