
.container {
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.group-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.group-card {
  width: 100%;
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.group-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.student-card {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  margin-top: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center; /* Ajout de la propriété align-items: center */
  text-align: center; /* Ajout de la propriété text-align: center */
}

.student-card h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: #555;
}

.note-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
}


/* Nouveau style pour les notes reçues */
.received-notes {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.received-notes-label {
  margin-right: 5px;
  color: #555;
}

.received-note {
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 0.8rem;
}

.average,
.eval360,
.difference,
.received-notes {
  margin-top: 10px;
}

.average-label,
.eval360-label,
.difference-label,
.received-notes-label {
  color: #555;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.note-value {
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 0.8rem;
  margin-right: 5px;
}


.eval360 {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: #e74c3c;
  padding: 8px 12px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: inline-block;
  text-align: center;
}
