<body>
  <div class="container">
    <div class="card new-card" *ngIf="!newCard.file || groupCards.length === 0">
      <h3 class="title">{{ newCard.file ? 'Cliquer sur le "+"' : 'Création de groupe' }}</h3>
      <div class="bar">
        <div class="emptybar"></div>
        <div class="filledbar"></div>
      </div>
      <div class="circle">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
          <circle class="stroke" cx="60" cy="60" r="50" />
        </svg>
      </div>
      <input type="file" (change)="handleFileInput($event)" accept=".csv" placeholder="Importez un fichier CSV">
      <div class="plus-sign" (click)="handleSpecialCardClick()">+</div>
    </div>

    <div class="card" *ngFor="let card of groupCards">
      <h3 class="title">{{ card.group }}</h3>
      <div class="bar">
        <div class="emptybar"></div>
        <div class="filledbar"></div>
      </div>
      <div class="circle">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
          <circle class="stroke" cx="60" cy="60" r="50" />
        </svg>
      </div>
      <!-- Contenu supplémentaire de la carte de groupe -->
      <div class="button-container">
        <div class="delete-button" (click)="deleteGroupCard(card)">-</div>
      </div>
      <a [routerLink]="['/teacher-home', userId, 'project', projectId, 'group', card.groupId]" class="buttonGroup">
        <span class="buttonGroupText">Voir le groupe</span>
      </a>
    </div>
    <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
  </div>

  <div class="download-button">
    <button (click)="downloadExampleCSV()">Télécharger un exemple de fichier CSV</button>
  </div>
</body>
